/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@font-face {
font-family: 'Coves';
src: url('/fonts/Coves Light.otf') format('truetype'),

}

@font-face {
    font-family: 'Neon Absolute Sans';
    src: url('NeonAbsoluteSansRegular.woff2') format('woff2'),
         url('NeonAbsoluteSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html{height:100%;}

body{
	text-align: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

iframe { display: none; }

#main{
	min-height:100%;
	position:relative;
}

header{
	height: 50vh;
	width: 100vw;
	z-index: 5;
 	transition: ease-out 1s;
}

footer{
	height: 50vh;
 	width: 100vw;
	position : absolute;
	bottom:0;
 	z-index: 5;
 	transition: ease-out 1s;
}

#titre{
	font-family: 'Coves';
	font-weight: bold;
    font-style: normal;
	position: absolute;
	position: sticky;
	top: 50vh;
	font-size: 3rem;
	z-index: 6;
}

#diaporama {
    position: relative;
    overflow: hidden;
	text-align: center;	
	height: 0vh;    
 	transition: ease-out 1s;
}

/* boutons avec numeros de diapos */
ol.numericControls {
	margin:250px 0 1em 0;
	padding:0;
	height:28px;	
}
ol.numericControls li{
	margin:0 10px 0 0; 
	padding:0;
	float:left;
	list-style:none;
	height:28px;
	line-height:28px;
}
ol.numericControls li a{
	float:left;
	height:28px;
	line-height:28px;
	border:1px solid #ccc;
	background:#DAF3F8;
	color:#555;
	padding:0 10px;
	text-decoration:none;
}
ol.numericControls li.current a{
	background:#5DC9E1;
	color:#fff;
}
ol.numericControls li a:focus, .prevBtn a:focus, .nextBtn a:focus{
	outline:none;
}

/* boutons suivant et précédent */
.prevBtn, .nextBtn {
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
	text-indent:-8000px;
	width:30px;
	height:77px;
	position:absolute;
	top:41vh;
	z-index:1000;
	cursor:pointer;
}	
.prevBtn{
	left: 0px;
	background: url(images/back.svg) no-repeat 0 0;
}
.prevBtn:hover, .nextBtn:hover{
	filter: invert(1);
	transform-origin: center;
	width:35px;
	height:82px;
	transition-duration: 0.25s;

}

.nextBtn{
	right: 0px;
	background: url(images/next.svg) no-repeat 0 0;
}

.slide {
	height: 86vh;
}
#slide1 {
	background: #EDD2AB;
}
#slide2 {
	background: #292F3C;
}
#slide3 {
	background: #F2DC5D;
}
#slide4 {
	background: #869767;
}
#slide5 {
	background: #040307;
}
#logo {
	height: 5vh;
	padding: 1vh;
	left: 0;
	position :absolute;
}

.player {
  cursor: pointer;
  position: relative;
  top: 0; bottom: 0;
  margin: auto;
  height: 150px;
  width: 50%;
  font-family: Coves;
  background-size: cover;
  background-position: center;
  transition: background-image 1s linear;
}

.waveform {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  transition: background-image 1s linear;
}

.position {
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 0;
  transition: width .1s linear;
  background-color: black;
}

.info {
  user-select: none;
  z-index: 5;
  position: absolute;
  height: 1em;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 2rem;
  letter-spacing: -.08em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: white;
}
#playbutton {
	background: url(images/play-button.svg) no-repeat 0 0;
}
#nextbutton {
	background: url(images/fast-forward.svg) no-repeat 0 0;
}
#prevbutton {
	background: url(images/fast-backward.svg) no-repeat 0 0;
}
#playbutton, #prevbutton, #nextbutton {
	width: 50px;
	height: 50px;
	display: inline-block;
}

#playbutton:hover, #prevbutton:hover, #nextbutton:hover {
	cursor: pointer;
	filter: invert(1);
	transform-origin: center;
	transition-duration: 0.25s;
}
@font-face {
	font-family: "Coves";
	font-weight: bold;
	src: url('css/fonts/Coves Bold.otf');
}
@font-face {
	font-family: "Coves";
	font-weight: normal;
	src: url('css/fonts/Coves Light.otf');
}
.intitule {
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
}